
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

*.o
*.obj
*.exe
build/
bin/
out/


.vscode/
.idea/

*.pt
.DS_Store
Thumbs.db
.'samples'
.'install try.py' 
.practis_image_process.py
.'Laser On Tennis ball'
.Laser On Tennis ball/
