
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/


*.o
*.obj
*.exe
build/
bin/
out/


.vscode/
.idea/

*.pt
.DS_Store
Thumbs.db
.'samples'
.'install try.py' 
.practis_image_process.py
.'Lesier On Tennis ball'
.SERVER_IP="http://192.168.1.157:8080/video"